@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah)

$space: 20px
$border-white: 2px solid rgba(white, 0.9)
body 
    text-shadow: 0px 1px 2px rgb(100,100,100)
.foggy-window
    background-color:  grey

.container
    position: relative
    .about
        padding: $space
        position: absolute
        top: 0px
        left: 0px
        color: white
        h1 
            margin-top: -18px
            margin-bottom: $space/2
            font-size: 2.6em
            font-family: 'Gloria Hallelujah'
            small 
                font-size: 0.6em
                color: rgba(white, 0.8)
            @media(max-width: 768px)
                font-size: 2.4em
                small 
                    display: block
    .controls
        position: absolute
        font-family: 'Gloria Hallelujah'
        padding: $space
        top: 0px
        right: 0px
        @media(max-width: 768px)
            bottom: $space*2
            top: auto
            right: auto 
            left: 0px

#canvases 
    position: relative
    max-height: 100vh
    overflow: hidden
    canvas + canvas
        position: absolute
        top: 0px
.btn
    background-color: transparent
    color: white
    border: $border-white
    padding: $space/2
    transition: background-color 0.5s, opacity 0.5s
    &:hover
        background-color: rgba(white, 0.3)
    &.btn-primary
        background-color: rgba(white, 0.4)
        

input[type='text']  
    box-sizing: border-box
    padding: $space/2
    background-color: transparent
    border: $border-white 
    border-color: rgba(white, 0.5)
    width: 350px
    color: white
    transition: background-color 0.5s, opacity 0.5s, display 0.5s 0.5s
    @media(max-width: 768px)
        width: 100%
        margin-bottom: $space/2
.hidden
    opacity: 0
    display: none

footer 
    position: absolute
    bottom: $space
    padding: 0 $space
    font-size: 0.8em 
    color: white
    a
        opacity: 1 
        color: white 
        transition: color 0.5s
        &:visited
            opacity: 1 
        &:hover, &:focus
            color: #eee 

